<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project_task.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project_task.status %>
</p>

<p>
  <strong>Dateline:</strong>
  <%= @project_task.dateline %>
</p>

<%= link_to 'Edit', edit_project_task_path(@project_task) %> |
<%= link_to 'Back', project_tasks_path %>
